* text eol=lf

/.docker         export-ignore
/.github         export-ignore
/.phive          export-ignore
/scripts         export-ignore
/tools           export-ignore
/vendor          export-ignore
/.editorconfig   export-ignore
/.gitattributes  export-ignore
/.gitignore      export-ignore
/compose.yaml    export-ignore
/composer.lock   export-ignore
